# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Dados brutos
data/raw/
data/
data/processed/

# Arquivos grandes
*.csv
*.parquet
*.xlsx
*.joblib
*.pkl

# Logs
*.log

# Variáveis de ambiente
.env

# Mac
.DS_Store
